/@hive/AddOns/Build-Community.bat
/@dayz/Build-Community-Beta.bat
/@dayz/Build-Community.bat
/Dev-build.bat
/@Deploy
/@Dayz
/@Legacy
/ARMA2Tools
/SQF/Missions/dayz_1337.chernarus/manifest
/SQF/Missions/dayz_1337.chernarus/mfstsign
/SQF/Missions/DayZMod.chernarus
DayZ.bat
*-old